
.env
secret.key
*.pem


venv/
env/
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

db.sqlite3
db.sqlite3-journal
*.log
local_settings.py
staticfiles/
media/

.vscode/
.idea/
.DS_Store
Thumbs.db


temp/

.crawl4ai/